<h2>Admin Dashboard</h2><hr>
  <div class="jumbotron">
      <h3>Product Categories: <%= @categories.count %></h3>
      <h3>Total Products: <%= @products.count %></h3><br> 
    <%= link_to 'Manage Products',  [:admin, :products], class: 'btn btn-primary' %>
  </div>
