<h2>What is Jungle?</h2><hr>
  <div class="jumbotron">
      <p>Welcome to <strong>Jungle!</strong> This is the perfect place
         to buy all the hipster and trendy things you don't need, to
         impress people you don't like!</p>
      <p>After all, it's just about the thing you own end up owning
         you, isn't it?</p>
      <p>So, why not start shopping around? Enjoy our awesome, yet
         completely useless products!</p><br> 
    <%= link_to 'Start Shopping!',  root_path, class: 'btn btn-lg btn-primary' %>
  </div>